fastapi
uvicorn[standard]
pydantic
python-multipart
numpy<2.0
pandas
scikit-learn
xgboost
joblib
pymongo
moviepy>=2.0
imageio-ffmpeg
ffmpeg-python
librosa==0.10.2.post1
soundfile
opencv-python
mediapipe==0.10.21
openai-whisper
sentence-transformers
torch
stable-baselines3>=2.0
gymnasium
tqdm
